@import '~rsuite/lib/styles/themes/default/index.less';

@base-color: #67b246;

//** Global textual link color.
@link-color: @H700;
//** Link hover color.
@link-hover-color: @H100;
//** Link Active color
@link-active-color: @H900;
//** border base color.
@border-base-color: @B300;
//** base bg color.
@base-bg-color: @B050;
//** border primary color.
@border-primary-color: @H500;
//** loading text color
@loading-text-color: @B800;


[data-theme="light"] {
    --primary: #67B246 !important;
    --primary-bg: #fff !important;
    --secondary-bg: #5a61690f !important;
    --third-bg: #212529 !important;
    --fourth-bg: #212529 !important;
    --font-color: #212529 !important;
    --inv-font-color: #fff !important;
    --bg-font-color: #5a6169 !important;
    --border-color: #d4d5d8;
    --unread-color: #d4d5d8;
    --input: #fff;
    --disabled-input: #f1f1f1;
    --border-color: #e1e3e4;
}

[data-theme="dark"] {
    --primary: #67B246 !important;
    --primary-bg: #272727 !important;
    --secondary-bg: #121212 !important;
    --third-bg: #42454b !important;
    --fourth-bg: #121212 !important;
    --font-color: #e1e1ff !important;
    --inv-font-color: #373a3d !important;
    --bg-font-color: #3a3a3a !important;
    --unread-color: #d4d5d8;
    --border-color: #707990;
    --input: #121212;
    --disabled-input: #272727;
    --border-color: #313131;
}