node_modules
.next
.vscode
out
.env.local
oauth*.json
serviceacct.json
ecosystem.config.js.og
ecosystem.config.js
public/precache*
public/sw.js
public/workbox-*
db_backup
stats*.json
cypress.env*
cypress/videos/**
cypress/screenshots/**
public/*.map
sentry.properties
