:global(.ag-theme-material .ag-row) {
  border-color: #495057 !important;
}
:global(.darkmode) {
  background-color: #121212 !important;
  color: var(--light) !important;
}
:global(.darkmode-bgdark) {
  background-color: #121212 !important;
  color: #fff !important;
}
:global(.darkmode-bgdark-dp2) {
  background-color: #272727 !important;
  color: #fff !important;
}
:global(.darkmode-bgdark-dp4) {
  background-color: #121212 !important;
  color: #fff !important;
}
:global(.darkmode-boxshadow) {
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.6) !important;
}
:global(.darkmode-fgdark) {
  color: #272727 !important;
}
:global(.darkmode-fgdark-dp2) {
  color: #1f1f1f !important;
}