.mail-wrapper-panel > .rs-panel-body {
  padding: 5px;
}

.mail-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.read-mail-btn {
  height: 75px !important;
  width: 75px;
  margin-right: 10px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--grey2);
  transition: border-color 250 ease-in-out;
}

.mail-info {
  font-family: var(--font-body);
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 0 10px;
}

.mail-body {
  border: 1px solid var(--grey2);
  border-radius: 5px;
}

.mail-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.mail-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.mail-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-textbox {
  margin: 5px;
}

.modal-textbox input:hover {
  cursor: default;
}

.rs-list-item-content .rs-btn.rs-btn-icon {
  padding-left: 14px;
}
