.mail-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.read-mail-btn {
  height: 75px !important;
  width: 75px;
  margin-right: 10px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--grey2);
  transition: border 250 ease-in-out;
}

.rs-btn.rs-btn-icon {
  padding-left: 16px !important;
}