.header-badge .rs-badge-independent {
  background-color: var(--primary);
  font-size: 1.1rem;
  padding: 5px;
  transform: translate(60%, -20%);
}

.flip-transition-enter {
  opacity: 0;
  transform: rotateY(180deg);
}
.flip-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform: rotateY(360deg);
  transition: opacity 0.9s, transform 0.9s;
}
.flip-transition-exit {
  opacity: 0;
  transform: rotateY(180deg);
}
.flip-transition-exit-active {
  opacity: 1;
  transform: translateX(0);
  transform: rotateY(360deg);
  transition: opacity 0.9s, transform 0.9s;
}

.flatpickr {
  height: auto;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--input);
  border: 1px solid #e5e5ea;
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: 5px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
    border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}
.flatpickr-months {
  border-radius: 10px;
  background: #67b246 !important;
  background: var(--grey2) !important;
}
.flatpickr-month {
  background: #67b246 !important;
  background: var(--grey2) !important;
}
.flatpickr-monthDropdown-months {
  background: #67b246 !important;
  background: var(--grey2) !important;
}
.flatpickr-weekdays {
  background: #67b246 !important;
  background: var(--grey2) !important;
}
.flatpickr-weekday {
  background: #67b246 !important;
  background: var(--grey2) !important;
}
.flatpickr-day.selected {
  background: #67b246 !important;
  border-color: #67b246 !important;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--grey2) !important;
}
.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: #c1c1c1;
}

.rs-timeline {
  margin-top: 20px !important;
}

.rs-timeline-item-custom-dot .rs-icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 9px;
  color: #999;
  margin-left: -13px;
}

.rs-timeline-item .rs-timeline-item-content {
  margin-left: 15px;
}

.modal-textbox {
  padding-right: 10px;
}
.mail-read-header {
  padding: 20px 20px 0px 20px !important;
}

.mail-read-header .modal-textbox input:hover {
  cursor: grab;
}

.mail-read-header:hover {
  cursor: grab;
}
.mail-read-header:active {
  cursor: grabbing;
}

.copy-btn {
  transition: opacity 250ms ease-in-out;
}

.reschedule-header {
  background: var(--grey1);
  padding: 25px !important;
}

.modal-attachment-header-text:hover {
  cursor: grab;
}

.modal-attachment-header-text:active {
  cursor: grabbing;
}

.read-mail-body {
  padding: 20px;
  margin: 10px;
  border: 1px solid var(--grey2);
  border-radius: 5px;
  overflow: scroll;
}

.ag-horizontal-left-spacer::-webkit-scrollbar-track,
.ag-horizontal-right-spacer::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
.read-mail-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.ag-horizontal-left-spacer::-webkit-scrollbar,
.ag-horizontal-right-spacer::-webkit-scrollbar,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.read-mail-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.ag-horizontal-left-spacer::-webkit-scrollbar-thumb,
.ag-horizontal-right-spacer::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.read-mail-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.create-btn {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px rgba(102, 178, 70, 0.3);
  }
  to {
    box-shadow: 0 0 0px 3px rgba(91, 201, 45, 0.2);
  }
}

.tox-tinymce {
  border-radius: 5px !important;
}

.timezone-select > div:nth-of-type(2) {
  z-index: 99;
}

.panel-right .rs-panel-body {
  padding-top: 0px;
}

.panel-right .rs-nav.rs-nav-horizontal {
  margin-bottom: 15px;
}

.panel-right
  .rs-nav-reversed.rs-nav-tabs.rs-nav-horizontal
  .rs-nav-item
  > .rs-nav-item-content {
  text-align: center;
}

.deleteBtn .rs-dropdown-item-content {
  display: flex;
}

.maintenance-header > .rs-panel-heading {
  padding: 5px 30px;
}

.timezone-select div[class='*-menu'] {
  z-index: 9999;
}

.copy-btn {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 250ms, opacity 250ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.copy-btn span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy-btn:hover {
  cursor: pointer;
}

.ExcelTable2007 {
  border: 1px solid #67b246;
  border-width: 1px 0px 0px 1px;
  font-size: 11pt;
  font-family: Calibri;
  font-weight: 100;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 10px;
}

.ExcelTable2007 TH {
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #67b246;
  border-width: 0px 1px 1px 0px;
  height: 17px;
  line-height: 17px;
  padding: 2px 10px;
}

.ExcelTable2007 TD {
  border: 0px;
  background-color: white;
  padding: 2px 5px;
  border: 1px solid #bcbcbc;
  border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
  border: 0px;
  background-color: white;
  font-weight: bold;
}

.ExcelTable2007 TD.heading {
  text-align: center;
  border: 1px solid #67b246;
  border-width: 0px 1px 1px 0px;
  font-weight: bold;
  padding: 3px;
}

.ag-theme-material .ag-has-focus .ag-cell-focus:not(.ag-cell-range-select) {
  border-color: transparent !important;
}

.maintenance--input::placeholder {
  color: rgba(94, 94, 94, 0.4);
}
