.header-badge .rs-badge-content {
  background-color: var(--primary);
  font-size: 1.1rem;
  padding: 5px;
  transform: translate(60%, -20%);
}

.flip-transition-enter {
  opacity: 0;
  transform: rotateY( 180deg );
}
.flip-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform: rotateY( 360deg );
  transition: opacity 0.9s, transform 0.9s;
}
.flip-transition-exit {
  opacity: 0;
  transform: rotateY( 180deg );
}
.flip-transition-exit-active {
  opacity: 1;
  transform: translateX(0);
  transform: rotateY( 360deg );
  transition: opacity 0.9s, transform 0.9s;
}

.flatpickr {
  height: auto;
  width: 100%;
  padding: .5rem 1rem;
  font-size: .95rem;
  line-height: 1.5;
  color: var(--input-font-color);
  background-color: var(--input);
  border: 1px solid #becad6;
  font-weight: 300;
  will-change: border-color,box-shadow;
  border-radius: 10px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.flatpickr-months {
  border-radius: 10px;
  background: #67B246 !important;
  background: var(--grey3) !important;
}
.flatpickr-month {
  background: #67B246 !important;
  background: var(--grey3) !important;
}
.flatpickr-monthDropdown-months {
  background: #67B246 !important;
  background: var(--grey3) !important;
}
.flatpickr-weekdays {
  background: #67B246 !important;
  background: var(--grey3) !important;
}
.flatpickr-weekday {
  background: #67B246 !important;
  background: var(--grey3) !important;
}
.flatpickr-day.selected {
  background: #67B246 !important;
  border-color: #67B246 !important;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--grey3) !important;
}