h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto, Helvetica !important;
  font-weight: 500 !important;
}

.row-class {
  vertical-align: center;
}

/* .row-completed {
  background-color: rgba(184, 246, 155, 0.1);
} */

.row-cancelled {
  color: rgba(0, 0, 0, 0.3);
}

.row-emergency {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #c3565f2d 10px,
    #c3565f2d 20px
  );
}

.ag-filter-select {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 179px;
	padding: 10px 10px 10px 0;
	font-size: 12px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.ag-filter-select:focus {
  outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

.ag-tooltip {
  border: 2px solid var(--secondary) !important;
  border-radius: 5px !important;
  background: #fff !important;
  padding: 10px !important;
}

div.btn-toolbar,
button.btn-primary {
  max-height: 45px;
}

div.ag-row-selected {
  /* background-color: #007bff !important; */
  /* border: 2px solid #007bff !important;
  background-color: inherit !important; */
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 10px,
    #007bff38 10px,
    #007bff38 20px
  );
}

.table-wrapper { 
  width: 100%;
}

.user-pic:hover {
  filter: grayscale(0%);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}
.user-pic {
  filter: grayscale(100%);
  transition: all 750ms ease-in-out;
}
